<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="General">
            <file>tests/UCRM/REST/Endpoints/GeneralTests.php</file>
        </testsuite>




    </testsuites>

    <filter>
        <whitelist>
            <!--<directory suffix=".php">src</directory>-->
            <file>tests/UCRM/REST/Endpoints/GeneralTests.php</file>
        </whitelist>
    </filter>

</phpunit>